@mixin button-size ($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y, $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-type ($background, $border, $color, $hover-background: lighter($background, 0.75%), $hover-border:lighter($border, 7.5%),  $hover-color: $color) {
  border-color: $border;
  background: $background;
  color: $color;
  &:hover {
    border-color: $hover-border;
    background: $hover-background;
    color: $hover-color;
  }
  &:focus
  &.focus {
    border-color: $hover-border;
    background: $hover-background;
    color: $hover-color;
  }

}
@mixin alert-color ($background, $color, $border) {
  border-color: $border;
  background: $background;
  color: $color;
}